.Products {

border: 2px blue solid;
margin: 20px;

}

h2{
    text-align: left;
    margin: 10px;
}

.Product{
width: 20%;
float: left;
border: 2px darkgray solid;
margin: 20px;
}

img{
    
    width: 100px;
}

.clearfix{
    clear: left;
}

.paragraph{
    color: darkgray;
    margin: 10px;
    text-align: left;
}

h3{
    margin: 10px;
    text-align: left;
}
.price{
font-size: 18px;
font-weight: 700;
    margin: 10px;
    text-align: left;
}

.button{
    width: 50;
    text-align: left;
    color: white;
    background-color: rgb(0, 110, 255);
    
    
}